<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main1">
      <div class="loginPage" ng-controller="LoginController as logctrl">

        <div class="loginBox">

          <form name="logForm" class="smallbox">


            <md-input-container class="md-block" flex-gt-sm>
              <label for="inputName">Username</label>
              <input class="inputName" type="text" name="user" ng-model="logctrl.user" value="" required>
            </md-input-container>
            <div class="msg-error" ng-show="logForm.user.$invalid && logForm.user.$dirty">This field is required</div>

            <md-input-container class="md-block" flex-gt-sm>
              <label for="inputPass">Password</label>
              <input class="inputPass" type="password" name="pass" value="" ng-model="logctrl.pass" required>
            </md-input-container>
            <div class="msg-error" ng-show="logForm.pass.$invalid && logForm.pass.$dirty">This field is required</div>

            <div class="btns">
              <md-button class="md-raised md-primary" ng-click="logctrl.loginValidate(logForm)">Log Into Admin</md-button>
              <p class="other" goto-path="/register"><span>Register</span></p>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
