<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 main1">
      <form class="registerPage" name="registrForm" ng-controller="RegisterController as regctrl" , novalidate>

        <div class="registerBox">

          <div class="smallRbox">
            <p>Registration</p>

            <md-input-container class="md-block" flex-gt-sm>
              <label for="inputName">Name</label>
              <input class="userName" ng-model="regctrl.userName" type="text" name="userName" value="" required>
            </md-input-container>
            <div class="msg-error" ng-show="registrForm.userName.$invalid && registrForm.userName.$dirty">This field is required</div>

            <md-input-container class="md-block" flex-gt-sm>
              <label for="inputName">Surname</label>
              <input class="userSurname" type="text" ng-model="regctrl.userSurname" name="userSurname" value="" required>
            </md-input-container>
            <div class="msg-error" ng-show="registrForm.userSurname.$invalid && registrForm.userSurname.$dirty">This field is required</div>


            <md-input-container class="md-block" flex-gt-sm>
              <label for="inputName">User Name</label>
              <input class="usernameUser" type="text" name="usernameUser" ng-model="regctrl.usernameUser" value="" required>
            </md-input-container>
            <div class="msg-error" ng-show="registrForm.usernameUser.$invalid && registrForm.usernameUser.$dirty">This field is required</div>


            <md-input-container class="md-block" flex-gt-sm>
              <label type="" for="inputName">Email</label>
              <input class="userEmail" type="email" name="userEmail" value="" ng-model="regctrl.userEmail" required>
            </md-input-container>
            <div class="msg-error" ng-show="registrForm.userEmail.$invalid && registrForm.userEmail.$dirty">Your email address is invalid</div>


            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input type="password" id="pass1" name="pass1" ng-model="regctrl.pass1" ng-required="">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Password verification</label>
              <input type="password" id="pass2" name="pass2" ng-model="pass2" ng-required="" pass-check="pass1">
            </md-input-container>
            <div class="msg-error" ng-show="registrForm.pass2.$error.pwmatch">
              Passwords don't match
            </div>


            <div class="btns">
              <md-button class="md-raised md-primary" ng-click="regctrl.validationForm(registrForm)">Register</md-button>
            </div>

            <p class="other" goto-path="/login"><span>Back to Log In page</span></p>
          </div>
      </form>

      </div>
    </div>
  </div>
</div>
