.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #626262, rgb(173, 0, 48) 30%, rgb(0, 0, 0));
  // background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
   // background: linear-gradient(45deg, red, blue);

  .loginBox {
    min-width: 366px;
    min-height: 366px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .smallbox {
      display: block;
    }

    // .inputN {
    //   margin-bottom: 80px;
    //   .inputName{
    //     margin-left: 38pxs;
    //   }
    // }
    //
    // .inputp {
    //   display: block;
    //   .inputPass{
    //     margin-left: 10px;
    //
    //   }
    // }
  }
}
