@mixin border-shadow($radius) {
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,$radius);
-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,$radius);
box-shadow: 0px 6px 20px 0px rgba(0,0,0,$radius);
}

.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, orange, orange 25%, cyan);

  .loginBox {
    min-width: 366px;
    min-height: 366px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include border-shadow(0.75);
    

    .smallbox {
      display: block;

    }

    // .inputN {
    //   margin-bottom: 80px;
    //   .inputName{
    //     margin-left: 38pxs;
    //   }
    // }
    //
    // .inputp {
    //   display: block;
    //   .inputPass{
    //     margin-left: 10px;
    //
    //   }
    // }
  }
}
