@mixin border-shadow($radius) {
  -webkit-box-shadow: 0 6px 20px 0 rgba(0,0,0,$radius);
  -moz-box-shadow: 0 6px 20px 0 rgba(0,0,0,$radius);
  box-shadow: 0 6px 20px 0 rgba(0,0,0,$radius);
}

.main1 {
  padding: 0;
  height: 100%;

  .registerPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, red, red 25%, rgb(21, 2, 33));

    .registerBox {
      min-width: 366px;
      min-height: 366px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      @include border-shadow(0.75);

      .smallRbox {
        display: block;
        text-align: left;

        p {
          padding-top: 20px;
          font-size: 18px;
          font-weight: bold;
          text-align: left;
        }
      }

      md-input-container {
        text-align: left;

        input.ng-untouched.ng-invalid {
          border-bottom: 1px solid blue;
        }

        input.ng-invalid {
          border-bottom: 1px solid red;
        }

        input.ng-valid {
          border-bottom: 1px solid green;
        }
      }

      .msg-error {
        color: #F00;
        font-size: 14px;
        margin-bottom: 20px;
      }

      .other {
        min-width: 5%;
        min-height: 60px;
        padding: 10px;

        :hover {
          border-bottom: 1px solid blue;
          cursor: pointer;
        }
      }

      .btns {
        button {
          margin: 16px;
          padding: 6px;
          min-width: 184px;
          min-height: 45px;
          background-color: rgb(11, 116, 193);
          border: 0;
          color: white;
        }
      }
    }
  }
}
